project/gcc/.settings/language.settings.xml
project/gcc/.settings/org.eclipse.cdt.ui.prefs
project/gcc/.settings/org.eclipse.cdt.core.prefs
project/gcc/.settings/org.eclipse.cdt.codan.core.prefs
/Debug
